servers:
- server_name: example.com
  # enable: true
  # listen_port: 8443
  # gzip: true
  https: true
  cert_name: "*.example.com"
  # options:
  # - add_header X-Example "value"
  default:
    path: /
    ip: 127.0.0.1
    port: 3000
    # websocket: true
    # disable_cache: true
    # realtime: true
    # options:
    # - add_header X-Example "value"
  # locations:
  # - path: /api
  #   ip: 127.0.0.1
  #   port: 3001
  #   websocket: true
  #   disable_cache: true
  #   realtime: true
  #   options:
  #   - add_header X-Example "value"
